@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  outline: none !important;
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
}

body {
  font-family: 'Tajawal', sans-serif !important;
  color: #000 !important;
  background-color: #eee !important;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #F48C06;
  height: 67px;
}

::-webkit-scrollbar-track {
  background-color: #08062B;
}

div.loading-container {
  position: fixed;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #08062B;
  -webkit-animation: loading 1s linear 3s 1 alternate forwards;
          animation: loading 1s linear 3s 1 alternate forwards;
  z-index: 9999;
}

div.loading-container div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.loading-container div img {
  width: 40px;
  height: 40px;
  -webkit-margin-after: 15px;
          margin-block-end: 15px;
  -webkit-animation: loading-img 2.4s linear 2;
          animation: loading-img 2.4s linear 2;
}

div.loading-container div span {
  color: #eee;
  font-size: 20px;
  font-weight: bold;
}

@-webkit-keyframes loading-img {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loading-img {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes loading {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes loading {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

a.circle-up {
  position: fixed;
  bottom: -50px;
  right: 15px;
  z-index: 9998;
  cursor: pointer;
  -webkit-transition: opacity .5s ease-in-out, bottom .5s ease-in-out, -webkit-filter .2s ease-in-out;
  transition: opacity .5s ease-in-out, bottom .5s ease-in-out, -webkit-filter .2s ease-in-out;
  transition: filter .2s ease-in-out, opacity .5s ease-in-out, bottom .5s ease-in-out;
  transition: filter .2s ease-in-out, opacity .5s ease-in-out, bottom .5s ease-in-out, -webkit-filter .2s ease-in-out;
  opacity: 0;
}

a.circle-up:hover {
  opacity: .7 !important;
}

a.circle-up:active {
  opacity: .5 !important;
}

a.circle-up svg.fa-circle-up {
  color: #F48C06;
  width: 40px;
  height: 40px;
  z-index: 9998;
  cursor: pointer;
  -webkit-transition: opacity .5s ease-in-out, bottom .5s ease-in-out, -webkit-filter .2s ease-in-out;
  transition: opacity .5s ease-in-out, bottom .5s ease-in-out, -webkit-filter .2s ease-in-out;
  transition: filter .2s ease-in-out, opacity .5s ease-in-out, bottom .5s ease-in-out;
  transition: filter .2s ease-in-out, opacity .5s ease-in-out, bottom .5s ease-in-out, -webkit-filter .2s ease-in-out;
}

nav {
  position: fixed;
  width: 100%;
  height: 80.7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #08062B;
  z-index: 9998;
}

nav div {
  width: 250px;
  -webkit-margin-start: 50px;
          margin-inline-start: 50px;
  cursor: pointer;
}

nav div a img {
  max-width: 100%;
}

nav div.bars {
  display: none;
}

nav ul {
  position: relative;
  width: 40%;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  -webkit-margin-end: 50px;
          margin-inline-end: 50px;
  padding: 0 !important;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

nav ul a {
  text-decoration: none;
  color: #E4E6EB;
}

nav ul a li {
  padding: 44.35px 0 25px;
  font-weight: 400;
  border-bottom: 3px solid transparent;
  -webkit-transition: border-bottom-color .2s linear 0s;
  transition: border-bottom-color .2s linear 0s;
  color: #E4E6EB;
}

nav ul a li:hover {
  border-bottom-color: #F48C06;
}

@media (max-width: 991.98px) {
  nav div {
    width: 200px;
    -webkit-margin-start: 20px;
            margin-inline-start: 20px;
  }
  nav div.bars {
    display: block;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    position: relative;
    left: 20px;
    margin: 0 !important;
    padding: 0 !important;
    cursor: pointer;
  }
  nav div.bars svg {
    color: #fff;
    font-size: 32px;
  }
  nav ul {
    position: absolute;
    width: 100%;
    height: 100vh;
    height: calc(100vh - 80.7px);
    top: 80.7px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 !important;
    padding: 0 !important;
    background-color: #F48C06;
    z-index: 9999;
    -webkit-transform: translateY(-100vh);
            transform: translateY(-100vh);
    -webkit-transition: .5s;
    transition: .5s;
  }
  nav ul a {
    width: 100% !important;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 30px 0 !important;
    text-align: center;
    -webkit-transition: .5s !important;
    transition: .5s !important;
  }
  nav ul a:hover {
    background-color: #08062B;
  }
  nav ul a li {
    padding: 0 !important;
    margin: 0 !important;
    border-bottom: 0;
    -webkit-transition: .5s;
    transition: .5s;
  }
}

section.landing {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.landing::before {
  content: "";
  position: fixed;
  width: 100%;
  height: 100vh;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background: url("imgs/landing.jpg") no-repeat center;
  background-size: cover;
  will-change: transform;
  z-index: -1;
}

section.landing::after {
  content: "";
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.65);
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  will-change: transform;
  z-index: -1;
}

section.landing div {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

section.landing div h1 {
  font-size: 40px;
  letter-spacing: 1.5px;
  -webkit-margin-after: 21.44px;
          margin-block-end: 21.44px;
  font-weight: 700;
  color: #E4E6EB;
  cursor: default;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

section.landing div p {
  font-size: 18px;
  letter-spacing: 1px;
  -webkit-margin-after: 50px;
          margin-block-end: 50px;
  font-weight: 400;
  color: #B0B3B8;
  cursor: default;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

section.landing div a {
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

section.landing div a button {
  background-color: #F48C06;
  font-weight: 700;
  -webkit-transition: color .5s ease-in-out, background-color .5s ease-in-out;
  transition: color .5s ease-in-out, background-color .5s ease-in-out;
  border: 0;
  color: #E4E6EB;
}

section.landing div a button:hover {
  background-color: #08062B;
  color: #E4E6EB;
}

section.landing div a button:active {
  -webkit-filter: brightness(75%);
          filter: brightness(75%);
}

section.landing div a button:focus {
  background-color: #F48C06;
  color: #E4E6EB;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media (max-width: 991.98px) {
  section.landing div h1 {
    font-size: 25px;
  }
  section.landing div p {
    font-size: 18px;
    margin-bottom: 50px;
  }
}

section.why-con {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #eee;
  margin: 0 !important;
  padding: 0 !important;
  -webkit-padding-after: 30px !important;
          padding-block-end: 30px !important;
}

section.why-con p.why-h1 {
  position: absolute;
  font-size: 30px;
  font-weight: 700;
  top: -10vh;
  color: #E4E6EB;
  cursor: default;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

section.why-con p.why-h1 span {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

section.why-con p.why-h1 span img {
  position: absolute;
  width: 75px;
  height: 40px;
}

section.why-con div.why-con-2 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  -webkit-padding-after: 30px;
          padding-block-end: 30px;
}

section.why-con div.why-con-2 div.row {
  position: relative;
  width: 100%;
  margin: 50px 0 !important;
}

section.why-con div.why-con-2 div.row div {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0 !important;
}

section.why-con div.why-con-2 div.row div div {
  position: relative;
  width: 260px;
  height: 189.38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: #eee !important;
  -webkit-transition: -webkit-transform .3s linear;
  transition: -webkit-transform .3s linear;
  transition: transform .3s linear;
  transition: transform .3s linear, -webkit-transform .3s linear;
  margin: 0 !important;
  padding: 0 !important;
}

section.why-con div.why-con-2 div.row div div:hover {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

section.why-con div.why-con-2 div.row div div:hover span.br {
  top: 85px;
}

section.why-con div.why-con-2 div.row div div span.br {
  width: 5px;
  height: 55px;
  background-color: #F48C06;
  position: absolute;
  right: 0;
  top: 27.5px;
  -webkit-transition: top .3s linear;
  transition: top .3s linear;
}

section.why-con div.why-con-2 div.row div div h5 {
  font-weight: 700;
  margin: 30px 20px 14px;
  cursor: default;
}

section.why-con div.why-con-2 div.row div div p {
  font-size: 14px;
  font-weight: 400;
  color: #554F4F;
  margin: 14px 20px 40px;
}

section.why-con div.why-con-2 div.video {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.why-con div.why-con-2 div.video video {
  width: 700px;
  height: 100%;
}

section.why-con div.why-con-2 div.video div {
  position: absolute;
  width: 80px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #08062B;
  bottom: -30px;
  right: 40px;
  cursor: pointer;
}

section.why-con div.why-con-2 div.video div span {
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

section.why-con div.why-con-2 div.video div span svg {
  position: absolute;
  width: 15px;
  height: 15px;
  fill: #F48C06;
  cursor: pointer;
}

section.why-con div.why-con-2 div.video div span.pause {
  display: none;
}

@media (max-width: 991.98px) {
  section.why-con p.why-h1 {
    font-size: 25px;
    top: -5vh !important;
  }
  section.why-con p.why-h1 span img {
    position: absolute;
    width: 70px;
    height: 35px;
  }
  section.why-con div.opt-con {
    margin: 50px 0 50px 0;
  }
  section.why-con div.opt-con div.row div {
    margin: 15px 0 !important;
  }
  section.why-con div.opt-con div.row div div:hover {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
  section.why-con div.opt-con div.row div div:hover span.br {
    top: 85px;
  }
  section.why-con div.opt-con div.row div div span.br {
    height: 55px;
    top: 25.5px;
  }
  section.why-con div.opt-con div.row div div span.br-2 {
    top: 35.5px;
  }
  section.why-con div.opt-con div.row div div h5 {
    font-size: 18px;
  }
  section.why-con div.opt-con div.row div div p {
    font-size: 13px;
  }
  section.why-con div.video video {
    width: 100% !important;
    padding: 0 10px !important;
  }
  section.why-con div.video div {
    width: 60px !important;
    height: 40px !important;
    bottom: -20px !important;
    right: 30px !important;
  }
}

section.services-provided {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #eee;
  overflow: hidden;
  -webkit-padding-after: 100px !important;
          padding-block-end: 100px !important;
}

section.services-provided h1 {
  position: relative;
  font-size: 30px;
  font-weight: 700;
  color: #000;
  cursor: default;
  margin-bottom: 50px;
  -webkit-padding-before: 100px;
          padding-block-start: 100px;
}

section.services-provided h1 span {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

section.services-provided h1 span img.why {
  position: absolute;
  width: 110px;
  height: 40px;
  top: 5px;
}

section.services-provided h6:first-of-type {
  display: inline-block;
  font-size: 26px;
  font-weight: 400;
  color: #554F4F;
  margin-bottom: 25px;
  text-align: center;
}

section.services-provided h6:last-of-type {
  display: inline-block;
  width: 800px;
  font-size: 14px;
  color: #554F4F;
  text-align: center;
  line-height: 2;
  margin-bottom: 100px;
  text-align: center;
}

section.services-provided div {
  position: relative;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 50px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #eee;
}

section.services-provided div div:first-child {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow: hidden;
  background-color: #eee;
  padding: 0 !important;
  margin: 0 !important;
}

section.services-provided div div:first-child:hover img {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  -webkit-transform: scale(1.05) rotate(3deg);
          transform: scale(1.05) rotate(3deg);
}

section.services-provided div div:first-child img {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-filter: grayscale(0.7);
          filter: grayscale(0.7);
  -webkit-transition: .3s;
  transition: .3s;
}

section.services-provided div div:last-child {
  position: relative;
  width: 400px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  background-color: #eee;
}

section.services-provided div div:last-child div {
  position: relative;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-margin-after: 20px !important;
          margin-block-end: 20px !important;
}

section.services-provided div div:last-child div span {
  font-size: 23px;
  font-weight: 700;
  color: #E4E6EB;
  background-color: #F48C06;
  border: 0;
  border-radius: 50%;
  padding: 10px 20px;
  -webkit-margin-end: 20px;
          margin-inline-end: 20px;
  -webkit-margin-after: 20px;
          margin-block-end: 20px;
}

section.services-provided div div:last-child div h2 {
  font-size: 23px;
  font-weight: 700;
  color: #554F4F;
}

section.services-provided div div:last-child p {
  font-weight: 400;
  color: #554F4F;
  text-align: justify;
  line-height: 1.6;
}

section.services-provided div:first-of-type {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

section.services-provided div:nth-of-type(2) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

section.services-provided div:nth-of-type(2) div ul {
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
  right: 20px;
}

section.services-provided div:nth-of-type(2) div ul li {
  font-weight: 400;
  color: #554F4F;
  text-align: justify;
  line-height: 1.6;
  font-size: 14px;
  padding: 5px 0;
}

section.services-provided div:nth-of-type(2) div ul li::before {
  content: "";
  position: relative;
  float: right;
  top: 7px;
  left: 20px;
  width: 11px;
  height: 11px;
  border: 0;
  border-radius: 50%;
  background-color: #F48C06;
}

section.services-provided div:nth-of-type(3) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

section.services-provided div:nth-of-type(4) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

section.services-provided div:last-of-type {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 991.98px) {
  section.services-provided h1 {
    font-size: 25px;
    margin-bottom: 25px;
  }
  section.services-provided h1 span img.why {
    width: 85px;
    height: 30px;
    top: 5px;
  }
  section.services-provided h6:first-of-type {
    font-size: 18px;
    margin-bottom: 40px;
  }
  section.services-provided h6:last-of-type {
    width: 95%;
    font-size: 13px;
    margin-bottom: 50px;
  }
  section.services-provided div {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: reverse !important;
        -ms-flex-direction: column-reverse !important;
            flex-direction: column-reverse !important;
  }
  section.services-provided div div:first-child img {
    width: 335px !important;
  }
  section.services-provided div div:last-child {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  section.services-provided div div:last-child div {
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  section.services-provided div div:last-child div span {
    width: -webkit-fit-content !important;
    width: -moz-fit-content !important;
    width: fit-content !important;
    -webkit-margin-after: 0 !important;
            margin-block-end: 0 !important;
    font-size: 20px !important;
  }
  section.services-provided div div:last-child div h2 {
    width: -webkit-fit-content !important;
    width: -moz-fit-content !important;
    width: fit-content !important;
    font-size: 20px !important;
    margin: 0 !important;
    padding: 0 !important;
  }
  section.services-provided div div:last-child p {
    width: 335px !important;
    font-size: 14px;
  }
}

section.prices-con {
  position: relative;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #eee !important;
  -webkit-padding-before: 100px;
          padding-block-start: 100px;
  overflow: hidden;
}

section.prices-con div.prices-header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-margin-after: 50px;
          margin-block-end: 50px;
}

section.prices-con div.prices-header div {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-margin-after: 15px;
          margin-block-end: 15px;
}

section.prices-con div.prices-header div h1 {
  position: relative;
  font-size: 30px;
  font-weight: 700;
  color: #000;
  cursor: default;
}

section.prices-con div.prices-header div img {
  position: absolute;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 250px;
  height: 50px;
}

section.prices-con div.prices-header p {
  font-size: 17px;
  font-weight: 400;
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}

section.prices-con div.prices-details {
  position: relative;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 !important;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
}

section.prices-con div.prices-details div.row {
  position: relative;
  width: 100%;
  margin: 0 !important;
  background-color: #F48C06 !important;
}

section.prices-con div.prices-details div.row div {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 0 !important;
  background-color: #08062B;
}

section.prices-con div.prices-details div.row div:nth-child(2) {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #F48C06;
}

section.prices-con div.prices-details div.row div:nth-child(2) button {
  color: #08062B;
  border-color: #08062B;
}

section.prices-con div.prices-details div.row div div.plan-2-de {
  background-color: #F48C06 !important;
}

section.prices-con div.prices-details div.row div div {
  position: relative;
}

section.prices-con div.prices-details div.row div div span {
  position: relative;
  display: inline-block;
  width: 100%;
  font-size: 25px;
  text-align: center;
  color: #E4E6EB;
  font-weight: 700;
  -webkit-margin-after: 25px;
          margin-block-end: 25px;
}

section.prices-con div.prices-details div.row div div ul {
  list-style: none;
  -webkit-margin-after: 70px;
          margin-block-end: 70px;
}

section.prices-con div.prices-details div.row div div ul li {
  font-weight: 400;
  color: #E4E6EB;
  text-align: justify;
  line-height: 1.6;
  font-size: 18px;
  padding: 20px;
}

section.prices-con div.prices-details div.row div div ul li::before {
  content: "";
  position: relative;
  float: right;
  top: 7px;
  left: 20px;
  width: 11px;
  height: 11px;
  border: 0;
  border-radius: 50%;
  background-color: #E4E6EB;
}

section.prices-con div.prices-details div.row div button.plan-2-bu::before {
  content: '';
  position: absolute;
  left: 150px;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #08062B;
  -webkit-transition: .3s;
  transition: .3s;
  z-index: -11;
}

section.prices-con div.prices-details div.row div button {
  position: relative;
  width: 150px;
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-margin-before: 50px;
          margin-block-start: 50px;
  font-size: 25px;
  font-weight: 700;
  background-color: transparent;
  color: #F48C06;
  border: 2px solid #F48C06;
  border-radius: 5px;
  text-align: center;
  overflow: hidden;
  z-index: 9997;
}

section.prices-con div.prices-details div.row div button:hover {
  color: #E4E6EB;
}

section.prices-con div.prices-details div.row div button:hover::before {
  left: 0;
}

section.prices-con div.prices-details div.row div button::before {
  content: '';
  position: absolute;
  left: 150px;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #F48C06;
  -webkit-transition: .3s;
  transition: .3s;
  z-index: -11;
}

@media (max-width: 991.98px) {
  section.prices-con div.prices-header div h1 {
    font-size: 25px;
  }
  section.prices-con div.prices-header div img {
    position: absolute;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 250px;
    height: 50px;
  }
  section.prices-con div.prices-header p {
    font-size: 14px;
  }
  section.prices-con div.prices-details div.row div div span {
    font-size: 20px;
    -webkit-margin-after: 50px;
            margin-block-end: 50px;
  }
  section.prices-con div.prices-details div.row div div ul li {
    font-size: 15px;
  }
  section.prices-con div.prices-details div.row div button {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 10px 15px;
    font-size: 20px;
  }
}

footer {
  position: relative;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #08062B !important;
  overflow: hidden;
  margin: 0 !important;
  padding: 0 !important;
}

footer div.row {
  position: relative;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  margin: 0 !important;
  padding: 0 !important;
}

footer div.row div.contact-container {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  top: 30vh;
}

footer div.row div.contact-container div.footer-details {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 !important;
  padding: 0 !important;
}

footer div.row div.contact-container div.footer-details img {
  max-width: 350px !important;
}

footer div.row div.contact-container div.footer-details div.footer-details-con {
  position: relative;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 !important;
  padding: 0 !important;
}

footer div.row div.contact-container div.footer-details div.footer-details-con div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer div.row div.contact-container div.footer-details div.footer-details-con div svg {
  display: inline-block;
  width: 25px;
  height: 25px;
  color: #DCDDE2;
  -webkit-margin-end: 30px;
          margin-inline-end: 30px;
  -webkit-transition: .3s;
  transition: .3s;
}

footer div.row div.contact-container div.footer-details div.footer-details-con div span {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-weight: 700;
  color: #DCDDE2;
  top: 2px;
}

footer div.row div.contact-container div.footer-details div.footer-details-con div a:hover svg {
  color: #F48C06;
}

footer div.row div.contact-container div.footer-details div.footer-details-con div:last-child {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer div.row div.footer-dec {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F48C06;
}

footer div.row div.footer-dec span {
  color: #554F4F;
  font-weight: 700;
  font-size: 18px;
  padding: 20px 0;
}

@media (max-width: 991.98px) {
  footer div.row div.contact-container {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    top: 20vh !important;
  }
  footer div.row div.footer-dec {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  footer div.row div.footer-dec span {
    text-align: center;
    padding: 5px 0 !important;
  }
}
/*# sourceMappingURL=style.css.map */